.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 70%;
  gap: var(--spacing-5);
  padding: var(--spacing-5) var(--spacing-6);
  box-shadow: var(--color-shadow);
  border-radius: var(--radius-lg);
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: var(--spacing-5);
  border-radius: var(--radius-lg);
}
