.select {
  border-radius: var(--radius-lg);
  font-size: var(--font-size-xs);
  padding: var(--spacing-3) var(--spacing-5);
  cursor: pointer;
  background: var(--md-sys-color-surface-bright);
  color: var(--color-on-primary);
  border: none;
  outline: none;
}
