.header {
  margin-bottom: var(--spacing-4);
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  width: 80%;
  background-color: var(--color-surface);
  padding: var(--spacing-5);
  border-radius: var(--radius-standard);
  box-shadow: var(--elevation-level3);
}

.headerContainer {
  display: flex;
  align-items: center;
  gap: var(--spacing-5);
}
