.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: var(--spacing-5);
  gap: var(--spacing-5);
}

.response {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-5);
  align-items: center;
  width: 80%;
}

.title {
  color: var(--color-primary);
  font-size: var(--font-size-xs);
}

.parser {
  display: flex;
  align-items: center;
  gap: var(--spacing-4);
}
