.errorBoundary {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.errorTitle {
  font-size: var(--font-size-3xl);
  font-weight: var(--font-weight-bold);
  color: var(--color-primary);
  margin-bottom: var(--indent-l);
}

.errorDetails {
  color: var(--color-primary);
  margin-bottom: var(--indent-xl);
}

.errorStack {
  width: 100%;
  padding: var(--indent-l);
  overflow-x: auto;
  background-color: var(--color-background);
}

.errorStack code {
  font-size: var(--font-size-base);
  color: var(--clr-overlay);
}

.debugParams {
  margin-top: var(--indent-l);
  padding: var(--indent-m);
  background-color: var(--color-background);
  color: var(--color-primary);
}

.debugTitle {
  font-weight: var(--font-weight-bold);
  margin-bottom: var(--indent-s);
}

.debugContent {
  font-size: var(--font-size-xs);
}
