.errorBoundary {
  width: 90%;
  max-width: var(--spacing-9);
  margin: 0 auto;
}

.errorTitle {
  font-size: var(--font-size-3xl);
  font-weight: var(--font-weight-bold);
  color: var(--color-primary);
  margin-bottom: var(--spacing-5);
}

.errorDetails {
  color: var(--color-primary);
  margin-bottom: var(--spacing-6);
}

.errorStack {
  width: 100%;
  padding: var(--spacing-5);
  overflow-x: auto;
  background-color: var(--color-background);
}

.errorStack code {
  font-size: var(--font-size-base);
  color: var(--color-primary);
}

.debugParams {
  margin-top: var(--spacing-5);
  padding: var(--spacing-5);
  background-color: var(--color-background);
  color: var(--color-primary);
}

.debugTitle {
  font-weight: var(--font-weight-bold);
  margin-bottom: var(--spacing-4);
}

.debugContent {
  font-size: var(--font-size-xs);
}
