.container {
  display: flex;
  justify-content: center;
  gap: var(--spacing-5);
  width: 70%;
}

.link {
  color: var(--md-sys-color-primary);

  &:hover {
    color: var(--md-sys-color-on-primary);
  }
}
