.notFoundContainer {
  display: flex;
  flex: 1;
  align-items: center;
}

.notFoundTitle {
  text-align: center;
  padding: var(--spacing-5);
}

.notFoundInfo {
  color: var(--md-sys-color-on-primary);
  background-color: var(--md-sys-color-on-background);
  padding: var(--spacing-5);
}
