.loaderContainer {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  max-height: 200px;
  min-height: var(--spacing-5);
  padding: var(--spacing-6);
}

.loader {
  max-height: 50px;
  border-radius: 50%;
  height: 100%;
  width: auto;
  object-fit: contain;
}

.loading {
  font-size: var(--font-size-sm);
}
